Source: woodchuck
Section: net
Priority: optional
Maintainer: Neal H. Walfield <neal@cs.jhu.edu>
Standards-Version: 3.8.3
Build-Depends: cdbs, libdbus-glib-1-dev, libsqlite3-dev
Vcs-Git: git://hssl.cs.jhu.edu/~neal/woodchuck.git
Homepage: http://hssl.cs.jhu.edu/~neal/woodchuck

Package: smart-storage-logger
Section: user/science
Architecture: any
Priority: optional
Depends: ${shlibs:Depends}, wget
Description: Data logger for the smart storage experiment.
 The smart storage logger is a program developed to collect data
 about a user's activities.  It monitors and records the files that a
 user accesses, used and available network connections, battery status
 and programs that are run.  This data is then upload to
 hssl.cs.jhu.edu.
 .
 This data is being used by the HSSL researchers in understanding how
 users use data and their devices in general with the primary goal of
 designing an algorithm to determining which files have the least
 utility and thus are the best candidates for deletion.  Secondary
 goals include the design of an API to allow applications to register
 files that can be deleted automatically, designing an API to inform
 applications of storage pressure to allow them to take action, and
 designing a user interface to allow users to designate groups of
 files that can be deleted automatically.  This will help users by
 simplifying storage management and enable applications to more
 aggressively prefetch and cache data as disrupting the user or other
 applications is no longer an issue.

Package: murmeltier
Section: user/net
Architecture: any
Priority: optional
Depends: ${shlibs:Depends}, pywoodchuck
Provides: woodchuck
Description: A woodchuck daemon, a network monitor and data transfer manager.
 The woodchuck daemon monitors the network and user-behavior to
 predict when to initiate transfer tasks.
 .
 Applications that are woodchuck enabled register streams (e.g., RSS
 feeds, EMail mailboxes) with woodchuck as well as their constiuent
 objects (e.g., PodCasts, EMails).  When Woodchuck detects good
 network conditions, e.g., the device is attached to power and there
 is free WiFi, it predicts what data (of the registered objects) the
 user will likely need in the near future based on historical user
 behavior and user and applications hints, and initiates their transfer.

Package: woodchuck-doc
Section: net
Architecture: all
Priority: optional
Depends:
Description: A woodchuck daemon, a network monitor and data transfer manager.
 The woodchuck daemon monitors the network and user-behavior to
 predict when to initiate transfer tasks.
 .
 Applications that are woodchuck enabled register streams (e.g., RSS
 feeds, EMail mailboxes) with woodchuck as well as their constiuent
 objects (e.g., PodCasts, EMails).  When Woodchuck detects good
 network conditions, e.g., the device is attached to power and there
 is free WiFi, it predicts what data (of the registered objects) the
 user will likely need in the near future based on historical user
 behavior and user and applications hints, and initiates their transfer.

Package: libgwoodchuck
Section: net
Architecture: any
Priority: optional
Depends: ${shlibs:Depends}
Description: glib-based bindings for Woodchuck
 The woodchuck daemon monitors the network and user-behavior to
 predict when to initiate transfer tasks.
 .
 This package contains glib-based bindings (i.e., C bindings that
 integrate with the glib mainloop) for Woodchuck.

Package: libgwoodchuck-dev
Section: net
Architecture: any
Priority: optional
Depends: ${shlibs:Depends}
Description: glib-based bindings for Woodchuck
 The woodchuck daemon monitors the network and user-behavior to
 predict when to initiate transfer tasks.
 .
 This package contains development files for the glib-based bindings
 (i.e., C bindings that integrate with the glib mainloop) for
 Woodchuck.

Package: pywoodchuck
Section: net
Architecture: all
Priority: optional
Depends: python, python-dbus
Recommends: woodchuck
Description: Python bindings for Woodchuck
 The woodchuck daemon monitors the network and user-behavior to
 predict when to initiate transfer tasks.
 .
 This package contains Python modules for accessing a Woodchuck
 server.

Package: vcssync
Section: net
Architecture: all
Priority: optional
Depends: python, python-dbus
Recommends: woodchuck, pywoodchuck
Description: Version control system synchronizer
 Synchronizes repositories, either fetching or pushing changes.
 .
 This package is Woodchuck enabled.  If Woodchuck is installed and running,
 VCS Sync registers the configured synchronization actions with it thereby
 causing Woodchuck to automatically start VCS Sync to execute
 synchronizations when good opportunities arise.
