#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

binary-post-install/smart-storage-logger::
	mkdir -p debian/smart-storage-logger/etc/event.d
	# Maemo's version of dh_installinit is too old to automate this for us.
	cp debian/smart-storage-logger-maemo.upstart \
		debian/smart-storage-logger/etc/event.d/smart-storage-logger
	# Don't include unnecessary binaries.
	rm debian/smart-storage-logger/usr/bin/process-tracer \
	  debian/smart-storage-logger/usr/bin/netczar
